@font-face {
  font-family: 'Basier Circle';
  font-display: swap;
  src: url('../fonts/basiercircle-regular-webfont.eot');
  src: url('../fonts/basiercircle-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/basiercircle-regular-webfont.woff2') format('woff2'),
    url('../fonts/basiercircle-regular-webfont.woff') format('woff'),
    url('../fonts/basiercircle-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Circle';
  font-display: swap;
  src: url('../fonts/basiercircle-regularitalic-webfont.eot');
  src: url('../fonts/basiercircle-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/basiercircle-regularitalic-webfont.woff2') format('woff2'),
    url('../fonts/basiercircle-regularitalic-webfont.woff') format('woff'),
    url('../fonts/basiercircle-regularitalic-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Basier Circle';
  font-display: swap;
  src: url('../fonts/basiercircle-medium-webfont.eot');
  src: url('../fonts/basiercircle-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/basiercircle-medium-webfont.woff2') format('woff2'),
    url('../fonts/basiercircle-medium-webfont.woff') format('woff'),
    url('../fonts/basiercircle-medium-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Circle';
  font-display: swap;
  src: url('../fonts/basiercircle-mediumitalic-webfont.eot');
  src: url('../fonts/basiercircle-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/basiercircle-mediumitalic-webfont.woff2') format('woff2'),
    url('../fonts/basiercircle-mediumitalic-webfont.woff') format('woff'),
    url('../fonts/basiercircle-mediumitalic-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Basier Circle';
  font-display: swap;
  src: url('../fonts/basiercircle-semibold-webfont.eot');
  src: url('../fonts/basiercircle-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/basiercircle-semibold-webfont.woff2') format('woff2'),
    url('../fonts/basiercircle-semibold-webfont.woff') format('woff'),
    url('../fonts/basiercircle-semibold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Circle';
  font-display: swap;
  src: url('../fonts/basiercircle-semibolditalic-webfont.eot');
  src: url('../fonts/basiercircle-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/basiercircle-semibolditalic-webfont.woff2') format('woff2'),
    url('../fonts/basiercircle-semibolditalic-webfont.woff') format('woff'),
    url('../fonts/basiercircle-semibolditalic-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Basier Circle';
  font-display: swap;
  src: url('../fonts/basiercircle-bold-webfont.eot');
  src: url('../fonts/basiercircle-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/basiercircle-bold-webfont.woff2') format('woff2'),
    url('../fonts/basiercircle-bold-webfont.woff') format('woff'),
    url('../fonts/basiercircle-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Circle';
  font-display: swap;
  src: url('../fonts/basiercircle-bolditalic-webfont.eot');
  src: url('../fonts/basiercircle-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/basiercircle-bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/basiercircle-bolditalic-webfont.woff') format('woff'),
    url('../fonts/basiercircle-bolditalic-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}